<app-header-section [title]="'Blog'" [name]="'Blog'"></app-header-section>
<main class="page-content">
  <!-- Blogs area -->
  <div class="pg-blogs-wrapper bg--white ptb--150">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-xl-9 order-lg-2 order-1">
          <div class="pg-blogs left--sidebar">
            <div class="row">
              <!-- Start Single Blog -->
              <div class="col-lg-6 col-md-6 col-xl-4">
                <article class="blog wow fadeInUp">
                  <div class="blog__thumb">
                    <a href="blog-details.html">
                      <img src="assets/images/blog/1.jpg" alt="single blog thumb" />
                    </a>
                  </div>
                  <div class="blog__content">
                    <div class="blog__content__meta">
                      <p>December 20, 2017 - <a href="blogs.html">Afser</a></p>
                    </div>
                    <h4 class="blog-title">
                      <a href="blog-details.html"
                        >Islam is the only one way for peace
                      </a>
                    </h4>
                    <p>
                      Islam is the know how to pursuesure nally encounter
                      consequences extremely
                    </p>
                    <a href="blog-details.html" class="cr-readmore">Read</a>
                  </div>
                </article>
              </div>
              <!-- //Start Single Blog -->

              <!-- Start Single Blog -->
              <div class="col-lg-6 col-md-6 col-xl-4">
                <article class="blog wow fadeInUp">
                  <div class="blog__thumb">
                    <a href="blog-details.html">
                      <img src="assets/images/blog/2.jpg" alt="single blog thumb" />
                    </a>
                  </div>
                  <div class="blog__content">
                    <div class="blog__content__meta">
                      <p>
                        December 18, 2017 - <a href="blogs.html">Julfiqar</a>
                      </p>
                    </div>
                    <h4 class="blog-title">
                      <a href="blog-details.html"
                        >Salat can help us to move closer to Allah
                      </a>
                    </h4>
                    <p>
                      Islam is the know how to pursuesure nally encounter
                      consequences extremely
                    </p>
                    <a href="blog-details.html" class="cr-readmore">Read</a>
                  </div>
                </article>
              </div>
              <!-- //Start Single Blog -->

              <!-- Start Single Blog -->
              <div class="col-lg-6 col-md-6 col-xl-4">
                <article class="blog wow fadeInUp">
                  <div class="blog__thumb">
                    <a href="blog-details.html">
                      <img src="assets/images/blog/3.jpg" alt="single blog thumb" />
                    </a>
                  </div>
                  <div class="blog__content">
                    <div class="blog__content__meta">
                      <p>
                        December 15, 2017 - <a href="blogs.html">Iftekhar</a>
                      </p>
                    </div>
                    <h4 class="blog-title">
                      <a href="blog-details.html"
                        >Ramadan teach us how to realize fasting</a
                      >
                    </h4>
                    <p>
                      Islam is the know how to pursuesure nally encounter
                      consequences extremely
                    </p>
                    <a href="blog-details.html" class="cr-readmore">Read</a>
                  </div>
                </article>
              </div>
              <!-- //Start Single Blog -->

              <!-- Start Single Blog -->
              <div class="col-lg-6 col-md-6 col-xl-4">
                <article class="blog wow fadeInUp">
                  <div class="blog__thumb">
                    <a href="blog-details.html">
                      <img src="assets/images/blog/4.jpg" alt="single blog thumb" />
                    </a>
                  </div>
                  <div class="blog__content">
                    <div class="blog__content__meta">
                      <p>December 12, 2017 - <a href="blogs.html">Momen</a></p>
                    </div>
                    <h4 class="blog-title">
                      <a href="blog-details.html"
                        >Importance of Hijab for woman in Islam</a
                      >
                    </h4>
                    <p>
                      Islam is the know how to pursuesure nally encounter
                      consequences extremely
                    </p>
                    <a href="blog-details.html" class="cr-readmore">Read</a>
                  </div>
                </article>
              </div>
              <!-- //Start Single Blog -->

              <!-- Start Single Blog -->
              <div class="col-lg-6 col-md-6 col-xl-4">
                <article class="blog wow fadeInUp">
                  <div class="blog__thumb">
                    <a href="blog-details.html">
                      <img src="assets/images/blog/5.jpg" alt="single blog thumb" />
                    </a>
                  </div>
                  <div class="blog__content">
                    <div class="blog__content__meta">
                      <p>December 20, 2017 - <a href="blogs.html">Afser</a></p>
                    </div>
                    <h4 class="blog-title">
                      <a href="blog-details.html"
                        >Al Quran is the only way of peace</a
                      >
                    </h4>
                    <p>
                      Islam is the know how to pursuesure nally encounter
                      consequences extremely
                    </p>
                    <a href="blog-details.html" class="cr-readmore">Read</a>
                  </div>
                </article>
              </div>
              <!-- //Start Single Blog -->

              <!-- Start Single Blog -->
              <div class="col-lg-6 col-md-6 col-xl-4">
                <article class="blog wow fadeInUp">
                  <div class="blog__thumb">
                    <a href="blog-details.html">
                      <img src="assets/images/blog/6.jpg" alt="single blog thumb" />
                    </a>
                  </div>
                  <div class="blog__content">
                    <div class="blog__content__meta">
                      <p>
                        December 18, 2017 - <a href="blogs.html">Julfiqar</a>
                      </p>
                    </div>
                    <h4 class="blog-title">
                      <a href="blog-details.html"
                        >How to learn Al-Quran very easy way</a
                      >
                    </h4>
                    <p>
                      Islam is the know how to pursuesure nally encounter
                      consequences extremely
                    </p>
                    <a href="blog-details.html" class="cr-readmore">Read</a>
                  </div>
                </article>
              </div>
              <!-- //Start Single Blog -->

              <!-- Start Single Blog -->
              <div class="col-lg-6 col-md-6 col-xl-4">
                <article class="blog wow fadeInUp">
                  <div class="blog__thumb">
                    <a href="blog-details.html">
                      <img src="assets/images/blog/7.jpg" alt="single blog thumb" />
                    </a>
                  </div>
                  <div class="blog__content">
                    <div class="blog__content__meta">
                      <p>
                        December 15, 2017 - <a href="blogs.html">Iftekhar</a>
                      </p>
                    </div>
                    <h4 class="blog-title">
                      <a href="blog-details.html"
                        >Sadaqah can help People porperly</a
                      >
                    </h4>
                    <p>
                      Islam is the know how to pursuesure nally encounter
                      consequences extremely
                    </p>
                    <a href="blog-details.html" class="cr-readmore">Read</a>
                  </div>
                </article>
              </div>
              <!-- //Start Single Blog -->

              <!-- Start Single Blog -->
              <div class="col-lg-6 col-md-6 col-xl-4">
                <article class="blog wow fadeInUp">
                  <div class="blog__thumb">
                    <a href="blog-details.html">
                      <img src="assets/images/blog/8.jpg" alt="single blog thumb" />
                    </a>
                  </div>
                  <div class="blog__content">
                    <div class="blog__content__meta">
                      <p>December 12, 2017 - <a href="blogs.html">Momen</a></p>
                    </div>
                    <h4 class="blog-title">
                      <a href="blog-details.html"
                        >Learn about Islam, It is very simple &amp; realistic</a
                      >
                    </h4>
                    <p>
                      Islam is the know how to pursuesure nally encounter
                      consequences extremely
                    </p>
                    <a href="blog-details.html" class="cr-readmore">Read</a>
                  </div>
                </article>
              </div>
              <!-- //Start Single Blog -->
              <!-- Start Single Blog -->
              <div class="col-lg-6 col-md-6 col-xl-4">
                <article class="blog wow fadeInUp">
                  <div class="blog__thumb">
                    <a href="blog-details.html">
                      <img src="assets/images/blog/9.jpg" alt="single blog thumb" />
                    </a>
                  </div>
                  <div class="blog__content">
                    <div class="blog__content__meta">
                      <p>December 20, 2017 - <a href="blogs.html">Afser</a></p>
                    </div>
                    <h4 class="blog-title">
                      <a href="blog-details.html"
                        >Importance of Halal food in Islam</a
                      >
                    </h4>
                    <p>
                      Islam is the know how to pursuesure nally encounter
                      consequences extremely
                    </p>
                    <a href="blog-details.html" class="cr-readmore">Read</a>
                  </div>
                </article>
              </div>
              <!-- //Start Single Blog -->

              <!-- Start Single Blog -->
              <div class="col-lg-6 col-md-6 col-xl-4">
                <article class="blog wow fadeInUp">
                  <div class="blog__thumb">
                    <a href="blog-details.html">
                      <img src="assets/images/blog/10.jpg" alt="single blog thumb" />
                    </a>
                  </div>
                  <div class="blog__content">
                    <div class="blog__content__meta">
                      <p>
                        December 18, 2017 - <a href="blogs.html">Julfiqar</a>
                      </p>
                    </div>
                    <h4 class="blog-title">
                      <a href="blog-details.html"
                        >Importance of Salat in islam</a
                      >
                    </h4>
                    <p>
                      Islam is the know how to pursuesure nally encounter
                      consequences extremely
                    </p>
                    <a href="blog-details.html" class="cr-readmore">Read</a>
                  </div>
                </article>
              </div>
              <!-- //Start Single Blog -->

              <!-- Start Single Blog -->
              <div class="col-lg-6 col-md-6 col-xl-4">
                <article class="blog wow fadeInUp">
                  <div class="blog__thumb">
                    <a href="blog-details.html">
                      <img src="assets/images/blog/11.jpg" alt="single blog thumb" />
                    </a>
                  </div>
                  <div class="blog__content">
                    <div class="blog__content__meta">
                      <p>
                        December 15, 2017 - <a href="blogs.html">Iftekhar</a>
                      </p>
                    </div>
                    <h4 class="blog-title">
                      <a href="blog-details.html"
                        >Doa and jikir makes our mind soft and clean</a
                      >
                    </h4>
                    <p>
                      Islam is the know how to pursuesure nally encounter
                      consequences extremely
                    </p>
                    <a href="blog-details.html" class="cr-readmore">Read</a>
                  </div>
                </article>
              </div>
              <!-- //Start Single Blog -->

              <!-- Start Single Blog -->
              <div class="col-lg-6 col-md-6 col-xl-4">
                <article class="blog wow fadeInUp">
                  <div class="blog__thumb">
                    <a href="blog-details.html">
                      <img src="assets/images/blog/12.jpg" alt="single blog thumb" />
                    </a>
                  </div>
                  <div class="blog__content">
                    <div class="blog__content__meta">
                      <p>December 12, 2017 - <a href="blogs.html">Momen</a></p>
                    </div>
                    <h4 class="blog-title">
                      <a href="blog-details.html"
                        >Importance of Hajj in Islam</a
                      >
                    </h4>
                    <p>
                      Islam is the know how to pursuesure nally encounter
                      consequences extremely
                    </p>
                    <a href="blog-details.html" class="cr-readmore">Read</a>
                  </div>
                </article>
              </div>
              <!-- //Start Single Blog -->
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="cr-pagination text-right">
                  <ul>
                    <li><a href="events.html">01</a></li>
                    <li class="active"><a href="events.html">02</a></li>
                    <li><a href="events.html">03</a></li>
                    <li><a href="events.html">04</a></li>
                    <li><a href="events.html">05</a></li>
                    <li><a href="events.html">06</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Sidebar Widgets Area -->
        <div class="col-lg-4 col-xl-3 order-lg-1 order-2">
          <!-- Sidebar Widgets -->
          <div class="sidebar widgets">
            <!-- Single Widget (Searchbox) -->
            <div class="single-widget wgt-searchbox">
              <h4 class="widget-title">Search Event</h4>
              <form action="#">
                <input type="text" placeholder="Keywords here..." />
                <button type="submit">
                  <i class="fa fa-paper-plane-o"></i>
                </button>
              </form>
            </div>
            <!-- //Single Widget (Searchbox) -->

            <!-- Single Widget (Categories) -->
            <div class="single-widget wgt-categories">
              <h4 class="widget-title">Service Categories</h4>
              <ul>
                <li><a href="events.html">Quran Learning</a></li>
                <li><a href="events.html">Mosque Development</a></li>
                <li><a href="events.html">Islamic Library</a></li>
                <li><a href="events.html">Funeral Service</a></li>
                <li><a href="events.html">Islamic Seminar</a></li>
                <li><a href="events.html">Hajj Service</a></li>
                <li><a href="events.html">Collecting Sadaqah</a></li>
                <li><a href="events.html">Free Madrasa</a></li>
                <li><a href="events.html">Nikah Service</a></li>
                <li><a href="events.html">Hadidh Archive</a></li>
              </ul>
            </div>
            <!-- //Single Widget (Categories) -->

            <!-- Single Widget (Recentpost) -->
            <div class="single-widget wgt-recentpost">
              <h4 class="widget-title">Recent Event</h4>
              <ul>
                <li>
                  <div class="wgt-recentpost__thumb">
                    <a href="#">
                      <img
                        src="assets/images/event/sidebar-event/1.png"
                        alt="event thumb"
                      />
                    </a>
                  </div>
                  <div class="wgt-recentpost__content">
                    <h5><a href="event-details.html">Al-Quran Learning</a></h5>
                    <p>
                      <span>Central Mosque, NY city</span
                      ><span>12 October, 2017</span>
                    </p>
                  </div>
                </li>
                <li>
                  <div class="wgt-recentpost__thumb">
                    <a href="#">
                      <img
                        src="assets/images/event/sidebar-event/2.png"
                        alt="event thumb"
                      />
                    </a>
                  </div>
                  <div class="wgt-recentpost__content">
                    <h5><a href="event-details.html">Sadaqah Collection</a></h5>
                    <p>
                      <span>City Center hall, NY city</span
                      ><span>10 October, 2017</span>
                    </p>
                  </div>
                </li>
                <li>
                  <div class="wgt-recentpost__thumb">
                    <a href="#">
                      <img
                        src="assets/images/event/sidebar-event/3.png"
                        alt="event thumb"
                      />
                    </a>
                  </div>
                  <div class="wgt-recentpost__content">
                    <h5><a href="event-details.html">History of Islam</a></h5>
                    <p>
                      <span>Central Mosque, NY city</span
                      ><span>08 October, 2017</span>
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <!-- Single Widget (Recentpost) -->

            <!-- Single Widget (Advertisement) -->
            <div class="single-widget wgt-advertisement">
              <a href="#"
                ><img
                  src="assets/images/others-jpg/sidebar-advertisement.jpg"
                  alt="sidebar advertisement"
              /></a>
            </div>
            <!-- //Single Widget (Advertisement) -->

            <!-- Single Widget (Tags) -->
            <div class="single-widget wgt-tags">
              <h4 class="widget-title">Event Tags</h4>
              <ul>
                <li><a href="events.html">Salat</a></li>
                <li><a href="events.html">Ramadan</a></li>
                <li><a href="events.html">Sadaqah</a></li>
                <li><a href="events.html">Sunnah</a></li>
                <li><a href="events.html">Al-Quran</a></li>
                <li><a href="events.html">Islam</a></li>
                <li><a href="events.html">Iman</a></li>
                <li><a href="events.html">Hadiah</a></li>
              </ul>
            </div>
            <!-- Single Widget (Tags) -->
          </div>
          <!-- //Sidebar Widgets  -->
        </div>
        <!-- //Sidebar Widgets Area -->
      </div>
    </div>
  </div>
  <!-- //Blogs area -->
</main>
<!-- //Page Conent -->
