<div class="wrapper" id="wrapper">
  <header id="header-area" class="header-area fixed--header sticky--header">
    <div class="container">
      <div class="header header--style-1">
        <div class="logo image--logo hidden-md hidden-sm hidden-xs">
          <a href="index.html"
            ><img src="assets/images/logo/logo-white.png" alt="header logo"
          /></a>
        </div>
        <div class="header__right">
          <div
            class="header__right__top d-flex justify-content-center align-items-center flex-wrap flex-sm-nowrap"
          >
          </div>
          <div class="header__right__bottom">
            <nav class="menu">
              <ul class="justify-content-center text-center">
                <li><a [routerLink]="['/']">HOME</a></li>
                <li><a [routerLink]="['/audios']">AUDIOS</a></li>
                <li><a [routerLink]="['/videos']">VIDEOS</a></li>
                <!-- <li><a [routerLink]="['/event']">EVENT</a></li> -->
                <!-- <li><a [routerLink]="['/activity']">ACTIVITIES</a></li> -->
                <!-- <li><a [routerLink]="['/donation']">DONATION</a></li> -->
                <!-- <li><a [routerLink]="['/blog']">BLOG</a></li> -->
                <li><a [routerLink]="['/contact-us']">Contact</a></li>
                <li><a [routerLink]="['/about']">ABOUT</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="mobile-menu hidden-lg hidden-xlg hidden-xx hidden-sp">
          <a class="mobile-logo" href="index.html"
            ><img src="assets/images/logo/mobile-logo.png" alt="logo"
          /></a>
        </div>
      </div>
    </div>
  </header>
</div>
