<app-header-section [title]="'Videos'" [name]="'Videos'"></app-header-section>

<main class="page-content">
  <div class="events-grid ptb--150 bg--white">
    <div class="container">
      <div class="Videos">
        <div class="row">
          <!-- https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/Swing_Jazz_Drum.mp3 -->
        </div>
        <div class="row">


          <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <figure class="activity wow fadeInUp">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/d-RuwvYZXKM"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </figure>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <figure class="activity wow fadeInUp">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/K1lcz8HorKw"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </figure>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <figure class="activity wow fadeInUp">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/KMvbFuHrJHI"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </figure>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <figure class="activity wow fadeInUp">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/kmHeAIkQzDI"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </figure>
          </div>

          <!-- <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                        <figure class="activity wow fadeInRight">
                            <div class="activity__thumb">
                            </div>
                            <figcaption class="activity__content text-center">
                            </figcaption>
                        </figure>
                    </div> -->
        </div>
      </div>
      <div class="cr-pagination text-center">
        <ul>
          <li><a href="events.html">01</a></li>
          <li class="active"><a href="events.html">02</a></li>
          <li><a href="events.html">03</a></li>
          <li><a href="events.html">04</a></li>
          <li><a href="events.html">05</a></li>
          <li><a href="events.html">06</a></li>
        </ul>
      </div>
    </div>
  </div>
</main>


