<app-header-section [title]="'Contact Us'" [name]="'Contact Us'"></app-header-section>
<div class="page-content">

    <div class="cr-section contact-page-area ptb--150 bg--white">
        <aside class="contact-page-form pt--100">
            <div class="container">
                <div class="row">
                    <!-- Contact Form -->
                    <div class="col-lg-8">
                        <div class="contact__form">
                            <div class="small-title">
                                <h4>Send us a message</h4>
                                <p></p>
                            </div>
                            <div class="comment-box">
                                <form id="contact-form" action="https://whizthemes.com/mail-php/other/mail.php">
                                    <div class="single-input">
                                        <input type="text" name="con_name" placeholder="Enter your name">
                                    </div>
                                    <div class="single-input">
                                        <input type="email" name="con_email" placeholder="Your email">
                                    </div>
                                    <div class="single-input">
                                        <input type="text" name="con_phone" placeholder="Phone">
                                    </div>
                                    <div class="single-input">
                                        <input type="text" name="con_subject" placeholder="Subject">
                                    </div>
                                    <div class="single-input textarea">
                                        <textarea cols="3" name="con_message" rows="3"
                                            placeholder="Write your message here"></textarea>
                                    </div>
                                    <div class="single-input">
                                        <button type="submit"
                                            class="cr-btn cr-btn--sm cr-btn--transparent cr-btn--icon"><span>send</span></button>
                                    </div>
                                </form>
                                <p class="form-messege mt-3 mb-0"></p>
                            </div>
                        </div>
                    </div><!-- //Contact Form -->
                    <div class="col-lg-4">
                        <img src="assets/images/others-jpg/contact-image.jpg" alt="contact image">
                    </div>
                </div>
            </div>
        </aside><!-- //Contact Page Form -->

    </div><!-- //Contact Page Area -->

</div><!-- //Page Conent -->
