<app-header-section [title]="'Contact Us'" [name]="'Contact Us'"></app-header-section>
<div class="page-content">

    <div class="cr-section contact-page-area ptb--150 bg--white">
        <!-- Contact Page Details -->
        <aside class="contact-page-details">
            <div class="container">
                <div class="row">
                    <!-- Contact Sidebar -->
                    <div class="col-lg-4">
                        <div class="contact-sidebar">
                            <div class="small-title">
                                <h4>Get in touch</h4>
                                <p>Lets do better design was born and I will give you a mplete of the tem, and
                                    pund actual </p>
                            </div>
                            <ul class="contact-sidebar__body">
                                <li class="ct__address">
                                    <p>125 New Yourk, Straight Road <br> River Side Lane, USA</p>
                                </li>
                                <li class="ct__phone">
                                    <p><a href="callto://+00812458356987">+008 12458 356 987 (toll free)</a></p>
                                    <p><a href="callto://+00825647987546">+008 25647 987 546</a></p>
                                </li>
                                <li class="ct__mail">
                                    <p><a href="mailto://info@nailsboat.com">info@nail’sboat.com</a></p>
                                    <p><a href="mailto://www.nailsboat.com">www.nail’sboat.com</a></p>
                                </li>
                            </ul>
                            <div class="contact-sidebar__social">
                                <h5>You can also connect us here...</h5>
                                <div class="social-icons social-icons--rounded social-icons--medium">
                                    <ul>
                                        <li class="facebook"><a href="https://www.facebook.com/"><i
                                                    class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a href="https://twitter.com/"><i
                                                    class="fa fa-twitter"></i></a></li>
                                        <li class="instagram"><a href="https://www.instagram.com/"><i
                                                    class="fa fa-instagram"></i></a></li>
                                        <li class="google-plus"><a href="https://plus.google.com/discover"><i
                                                    class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!-- //Contact Sidebar -->
                    <!-- Contact Map -->
                    <div class="col-lg-8">
                        <div class="ct__map">
                            <div id="google-map" class="contact-map"></div>
                        </div>
                    </div><!-- //Contact Map -->
                </div>
            </div>
        </aside><!-- //Contact Page Details -->

        <!-- Contact Page Form -->
        <aside class="contact-page-form pt--100">
            <div class="container">
                <div class="row">
                    <!-- Contact Form -->
                    <div class="col-lg-8">
                        <div class="contact__form">
                            <div class="small-title">
                                <h4>Send us a message</h4>
                                <p>Lets do better design was born and I will give you a mplete of the tem, and
                                    pund actual teachings of the great explorer ecial contet to make it
                                    beautiful know how to pursu obis est eligend</p>
                            </div>
                            <div class="comment-box">
                                <form id="contact-form" action="https://whizthemes.com/mail-php/other/mail.php">
                                    <div class="single-input">
                                        <input type="text" name="con_name" placeholder="Enter your name">
                                    </div>
                                    <div class="single-input">
                                        <input type="email" name="con_email" placeholder="Your email">
                                    </div>
                                    <div class="single-input">
                                        <input type="text" name="con_phone" placeholder="Phone">
                                    </div>
                                    <div class="single-input">
                                        <input type="text" name="con_subject" placeholder="Subject">
                                    </div>
                                    <div class="single-input textarea">
                                        <textarea cols="3" name="con_message" rows="3"
                                            placeholder="Write your message here"></textarea>
                                    </div>
                                    <div class="single-input">
                                        <button type="submit"
                                            class="cr-btn cr-btn--sm cr-btn--transparent cr-btn--icon"><span>send</span></button>
                                    </div>
                                </form>
                                <p class="form-messege mt-3 mb-0"></p>
                            </div>
                        </div>
                    </div><!-- //Contact Form -->
                    <div class="col-lg-4">
                        <img src="assets/images/others-jpg/contact-image.jpg" alt="contact image">
                    </div>
                </div>
            </div>
        </aside><!-- //Contact Page Form -->

    </div><!-- //Contact Page Area -->

</div><!-- //Page Conent -->
