
		<!-- <section class="cr-section breadcrumb-area" data-black-overlay="7">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="cr-breadcrumb text-center">
							<h2 class="cr-breadcrumb__title">Events</h2>
							<div class="cr-breadcrumb__tree text-left text-md-left text-center">
								<ul>
									<li><a href="index.html">Home</a></li>
									<li>Events</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> -->
		<app-header-section [title]="'Events'" [name]="'Events'"></app-header-section>
		<!-- Page Conent -->
		<main class="page-content">

			<div class="events-grid ptb--150 bg--white">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="events2">

								<!-- Event Single -->
								<article class="event-single video--event wow fadeInLeft">
									<div class="event-single__thumb">
										<a class="video--trigger" href="https://www.youtube.com/watch?v=6I40BWTk95E">
											<img src="assets/images/event/layout-2/1.jpg" alt="event thumb">
										</a>
										<div class="event-single__date">
											<h3>23 December, 2017</h3>
										</div>
									</div>
									<div class="event-single__content">
										<h3><a href="event-details.html">Importance of Hajj in Islam</a></h3>
										<p><strong>Ramadan</strong> is the know how to pursue pleasure ratio </p>
										<div class="event-single__content__location">
											<p><i class="icofont icofont-institution"></i>Central masque, New town, Las
												Vegas</p>
											<p><i class="icofont icofont-wall-clock"></i> 03.00 am to 05.30pm</p>
										</div>
									</div>
								</article><!-- //Event Single -->

								<!-- Event Single -->
								<article class="event-single wow fadeInRight">
									<div class="event-single__thumb">
										<a href="event-details.html">
											<img src="assets/images/event/layout-2/2.jpg" alt="event thumb">
										</a>
										<div class="event-single__date">
											<h3>15 December, 2017</h3>
										</div>
									</div>
									<div class="event-single__content">
										<h3><a href="event-details.html">Salat is the way to get closer to Allah</a>
										</h3>
										<p><strong>Ramadan</strong> is the know how to pursue pleasure ratio </p>
										<div class="event-single__content__location">
											<p><i class="icofont icofont-institution"></i>Central masque, New town, Las
												Vegas</p>
											<p><i class="icofont icofont-wall-clock"></i> 03.00 am to 05.30pm</p>
										</div>
									</div>
								</article><!-- //Event Single -->

								<!-- Event Single -->
								<article class="event-single video--event wow fadeInLeft">
									<div class="event-single__thumb">
										<a class="video--trigger" href="https://www.youtube.com/watch?v=6I40BWTk95E">
											<img src="assets/images/event/layout-2/3.jpg" alt="event thumb">
										</a>
										<div class="event-single__date">
											<h3>23 December, 2017</h3>
										</div>
									</div>
									<div class="event-single__content">
										<h3><a href="event-details.html">History of Islamic Literature</a></h3>
										<p><strong>Literature</strong> is the know how to pursue pleasure ratio </p>
										<div class="event-single__content__location">
											<p><i class="icofont icofont-institution"></i>Central masque, New town, Las
												Vegas</p>
											<p><i class="icofont icofont-wall-clock"></i> 03.00 am to 05.30pm</p>
										</div>
									</div>
								</article><!-- //Event Single -->

								<!-- Event Single -->
								<article class="event-single wow fadeInRight">
									<div class="event-single__thumb">
										<a href="event-details.html">
											<img src="assets/images/event/layout-2/4.jpg" alt="event thumb">
										</a>
										<div class="event-single__date">
											<h3>15 December, 2017</h3>
										</div>
									</div>
									<div class="event-single__content">
										<h3><a href="event-details.html">Sadaqah can help People porperly</a></h3>
										<p><strong>Sadaqah</strong> is the know how to pursue pleasure ratio </p>
										<div class="event-single__content__location">
											<p><i class="icofont icofont-institution"></i>Central masque, New town, Las
												Vegas</p>
											<p><i class="icofont icofont-wall-clock"></i> 03.00 am to 05.30pm</p>
										</div>
									</div>
								</article><!-- //Event Single -->

								<!-- Event Single -->
								<article class="event-single wow fadeInLeft">
									<div class="event-single__thumb">
										<a class="video--trigger" href="https://www.youtube.com/watch?v=6I40BWTk95E">
											<img src="assets/images/event/layout-2/5.jpg" alt="event thumb">
										</a>
										<div class="event-single__date">
											<h3>23 December, 2017</h3>
										</div>
									</div>
									<div class="event-single__content">
										<h3><a href="event-details.html">Al Quran is the only way of peace</a></h3>
										<p><strong>RAl Quran</strong> is the know how to pursue pleasure ratio </p>
										<div class="event-single__content__location">
											<p><i class="icofont icofont-institution"></i>Central masque, New town, Las
												Vegas</p>
											<p><i class="icofont icofont-wall-clock"></i> 03.00 am to 05.30pm</p>
										</div>
									</div>
								</article><!-- //Event Single -->

								<!-- Event Single -->
								<article class="event-single video--event wow fadeInRight">
									<div class="event-single__thumb">
										<a class="video--trigger" href="https://www.youtube.com/watch?v=6I40BWTk95E">
											<img src="assets/images/event/layout-2/6.jpg" alt="event thumb">
										</a>
										<div class="event-single__date">
											<h3>06 December, 2017</h3>
										</div>
									</div>
									<div class="event-single__content">
										<h3><a href="event-details.html">Importance of Hijab for woman in Islam</a></h3>
										<p><strong>Hijab</strong> is the know how to pursue pleasure ratio </p>
										<div class="event-single__content__location">
											<p><i class="icofont icofont-institution"></i>Central masque, New town, Las
												Vegas</p>
											<p><i class="icofont icofont-wall-clock"></i> 03.00 am to 05.30pm</p>
										</div>
									</div>
								</article><!-- //Event Single -->

							</div>
							<div class="cr-pagination text-right">
								<ul>
									<li><a href="events.html">01</a></li>
									<li class="active"><a href="events.html">02</a></li>
									<li><a href="events.html">03</a></li>
									<li><a href="events.html">04</a></li>
									<li><a href="events.html">05</a></li>
									<li><a href="events.html">06</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

		</main><!-- //Page Conent -->
