<div class="wrapper" id="wrapper">
  <div
    id="carouselExampleCaptions"
    class="carousel slide relative"
    data-bs-ride="carousel"
  >
    <div
      class="carousel-indicators absolute right-0 bottom-0 left-0 flex justify-center p-0 mb-4"
    >
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner relative w-full overflow-hidden">
      <div class="carousel-item active relative float-left w-full">
        <img
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(22).jpg"
          class="block w-full"
          alt="..."
        />
        <div class="carousel-caption hidden md:block absolute text-center">
          <div class="banner__content text-center">
            <img
              src="assets/images/others-png/bismilla-word.png"
              alt="bismillah word"
            />
            <h3>In the name of <strong>“Allah”</strong></h3>
            <h1>Come to the straight path</h1>
            <div class="banner__content__button">
              <a
                href="about-us.html"
                class="cr-btn cr-btn--transparent cr-btn--light cr-btn--sm"
                ><span>Learn More</span></a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item relative float-left w-full">
        <img
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).jpg"
          class="block w-full"
          alt="..."
        />
        <div class="carousel-caption hidden md:block absolute text-center">
          <div class="banner__content text-center">
            <img
              src="assets/images/others-png/bismilla-word.png"
              alt="bismillah word"
            />
            <h3>In the name of <strong>“Allah”</strong></h3>
            <h1>Come to the straight path</h1>
            <div class="banner__content__button">
              <a
                href="about-us.html"
                class="cr-btn cr-btn--transparent cr-btn--light cr-btn--sm"
                ><span>Learn More</span></a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item relative float-left w-full">
        <img
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).jpg"
          class="block w-full"
          alt="..."
        />
        <div class="carousel-caption hidden md:block absolute text-center">
          <div class="banner__content text-center">
            <img
              src="assets/images/others-png/bismilla-word.png"
              alt="bismillah word"
            />
            <h3>O’ Allah we believe</h3>
            <h1>That Only you can save us</h1>
            <div class="banner__content__button">
              <a
                href="about-us.html"
                class="cr-btn cr-btn--transparent cr-btn--light cr-btn--sm"
                ><span>Learn More</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span
        class="carousel-control-prev-icon inline-block bg-no-repeat"
        aria-hidden="true"
      ></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span
        class="carousel-control-next-icon inline-block bg-no-repeat"
        aria-hidden="true"
      ></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Page Conent -->
  <main class="page-content">
    <!-- About Area -->
    <!-- <section
      class="about-area ptb--150 bg--white flower--left-top flower--right-bottom m-10"
    >
      <div class="container mx-auto px-4">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="about-content">
              <h3><strong>"Tabaroo"</strong> Islamic Web</h3>
              <h2>Know the real history of Islam</h2>
              <p>
                <span class="mark">Islam</span> is the know how to pursue
                pleasure rationally encounter consequences that are extremely
                painful. Nor again is there anyone who loves or pursues or
                desires to obtain pain of itself, because it is pain, but
                because
              </p>
              <p>
                know how to pursue pleasure rationally encounter consequences
                that are xtremely painful. Nor again is there anyone who loves
                or pursues or desires
              </p>
              <div
                class="about-content__bottom d-flex align-items-center flex-wrap flex-sm-nowrap"
              >
                <div class="about-content__bottom__left">
                  <p>Have you any quary?</p>
                  <h3 class="body--font">
                    <a href="callto://+00812356369">+00812 356 369</a>
                  </h3>
                </div>
                <span>or</span>
                <div class="about-content__bottom__right">
                  <a
                    href="about-us.html"
                    class="cr-btn cr-btn--sm cr-btn--transparent cr-btn--dark"
                    ><span>Read More</span></a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="about-images clearfix">
              <img
                class="wow fadeInUp"
                src="assets/images/about/large-1.jpg"
                alt="about image"
              />
              <img
                class="wow fadeInUp"
                src="assets/images/about/small-1.jpg"
                alt="smalal image"
              />
              <img
                class="wow fadeInUp"
                data-wow-delay="0.1s"
                src="assets/images/about/small-2.jpg"
                alt="smalal image"
              />
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!-- //About Area -->

    <!-- Pillar Of Islam -->
    <section
      class="cr-section islams-pillar-area ptb--120 bg--pattern zig-zag--top zig-zag--bottom"
    >
      <div
        class="islams-pillars d-flex justify-content-between justify-content-lg-center align-items-center flex-wrap flex-xl-nowrap flex-xx-nowrap flex-sp-nowrap"
      >
        <div class="islams-pillars__thumb text-lg-center wow fadeInLeft">
          <img
            src="assets/images/pillars/pillars-thumb.png"
            alt="pillars thumb"
          />
        </div>
        <div class="islams-pillars__content">
          <h2>Take the proper knowledge about piller of Islam</h2>
          <p>
            <span>Piller of islam</span> is the know how to rsue pleasure
            rationally encounter equ
          </p>
        </div>
        <div
          class="pillars d-flex justify-content-lg-between flex-md-wrap justify-content-md-center justify-content-sm-center justify-content-center"
        >
          <div class="pillar__single wow fadeInRight" data-wow-delay="0s">
            <div class="pillar__single__inner">
              <img
                class="pillar__single__icon"
                src="assets/images/pillars/pillar-icon-1.png"
                alt="pillar 1"
              />
              <h3>Kalima</h3>
            </div>
          </div>
          <div class="pillar__single wow fadeInRight" data-wow-delay="0.1s">
            <div class="pillar__single__inner">
              <img
                class="pillar__single__icon"
                src="assets/images/pillars/pillar-icon-2.png"
                alt="pillar 2"
              />
              <h3>Salat</h3>
            </div>
          </div>
          <div class="pillar__single wow fadeInRight" data-wow-delay="0.2s">
            <div class="pillar__single__inner">
              <img
                class="pillar__single__icon"
                src="assets/images/pillars/pillar-icon-3.png"
                alt="pillar 3"
              />
              <h3>Zakat</h3>
            </div>
          </div>
          <div class="pillar__single wow fadeInRight" data-wow-delay="0.3s">
            <div class="pillar__single__inner">
              <img
                class="pillar__single__icon"
                src="assets/images/pillars/pillar-icon-4.png"
                alt="pillar 4"
              />
              <h3>Siam</h3>
            </div>
          </div>
          <div class="pillar__single wow fadeInRight" data-wow-delay="0.4s">
            <div class="pillar__single__inner">
              <img
                class="pillar__single__icon"
                src="assets/images/pillars/pillar-icon-5.png"
                alt="pillar 5"
              />
              <h3>HAJJ</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- //Pillar Of Islam -->

    <!-- Activities area -->
    <section
      class="cr-section activities-area half--bg bg-image--1 pt--90 pb--150"
    >
      <div class="container">
        <div class="row">
          <div
            class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12 offset-0"
          >
            <div class="section-title section-title--white text-center">
              <h4>Our Videos</h4>
              <h2>Here is our Videos</h2>
              <p>
                <span>Neshida</span> is the know how to pursue pleasure
                rationally encounter consequences
              </p>
            </div>
          </div>
        </div>
        <div class="activities">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
              <figure class="activity wow fadeInUp">
                <iframe
                  width="560"
                  height="315"
                  src="https://www.youtube.com/embed/d-RuwvYZXKM"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen
                ></iframe>
              </figure>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
              <figure class="activity wow fadeInUp">
                <iframe
                  width="560"
                  height="315"
                  src="https://www.youtube.com/embed/K1lcz8HorKw"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen
                ></iframe>
              </figure>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
              <figure class="activity wow fadeInUp">
                <iframe
                  width="560"
                  height="315"
                  src="https://www.youtube.com/embed/KMvbFuHrJHI"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen
                ></iframe>
              </figure>
            </div>

            <!-- <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                          <figure class="activity wow fadeInRight">
                              <div class="activity__thumb">
                              </div>
                              <figcaption class="activity__content text-center">
                              </figcaption>
                          </figure>
                      </div> -->
          </div>
        </div>
      </div>
    </section>
    <!-- //Activities area -->

    <!-- Salat times area -->
    <!-- //Salat times area -->

    <!-- Team Area -->
    <section
      class="cr-section team-area ptb--150 bg--white flower--left-bottom"
    >
      <div class="container">
        <div class="row">
          <div
            class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12 offset-0"
          >
            <div class="section-title text-center">
              <h4>Our “Videos”</h4>
              <h2>Some of our audios</h2>
              <p>
                The following are brothers from Islam that help this website
                grow and may Allah help them.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card">
              <img
                class="card-img-top mp3-cover mp3-hover"
                src="https://www.stockvault.net/data/2017/08/19/238266/thumb16.jpg"
                alt="Card image cap"
              />
              <div class="card-block">
                <h4 class="audio-title">Abduljuwaad Ibrahim</h4>
                <p class="audio-title-title">title</p>
                <div class="row justify-content-center text-center">
                  <audio controls class="mp3-auido" style="width: 90%">
                    <source
                      src="http://blog.landr.com/wp-content/uploads/2017/07/LANDR-WAVY-neon.wav"
                      type="audio/mpeg"
                    />
                    Your browser does not support the audio element.
                  </audio>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <img
                class="card-img-top mp3-cover mp3-hover"
                src="https://www.stockvault.net/data/2017/08/19/238266/thumb16.jpg"
                alt="Card image cap"
              />
              <div class="card-block">
                <h4 class="audio-title">Abduljuwaad Ibrahim</h4>
                <p class="audio-title-title">title</p>
                <div class="row justify-content-center text-center">
                  <audio controls class="mp3-auido" style="width: 90%">
                    <source
                      src="http://blog.landr.com/wp-content/uploads/2017/07/LANDR-WAVY-neon.wav"
                      type="audio/mpeg"
                    />
                    Your browser does not support the audio element.
                  </audio>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <img
                class="card-img-top mp3-cover mp3-hover"
                src="https://www.stockvault.net/data/2017/08/19/238266/thumb16.jpg"
                alt="Card image cap"
              />
              <div class="card-block">
                <h4 class="audio-title">Abduljuwaad Ibrahim</h4>
                <p class="audio-title-title">title</p>
                <div class="row justify-content-center text-center">
                  <audio controls class="mp3-auido" style="width: 90%">
                    <source
                      src="http://blog.landr.com/wp-content/uploads/2017/07/LANDR-WAVY-neon.wav"
                      type="audio/mpeg"
                    />
                    Your browser does not support the audio element.
                  </audio>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- //Blog Area -->
  </main>
  <!-- //Page Conent -->
</div>
